<h1 class="ml-5 mt-4">NFT Token</h1>
<div>
  <div class="d-flex flex-column flex-md-row">
    <div class="col-md-2 mr-2 col-auto">
      <img
        class="img-fluid border border-dark img"
        src="{{ nftMaindDetails?.image }}"
        alt="flower"
      />
    </div>
    <div
      class="mr-5 col-md-9 flex-column info container"
      *ngIf="
        searchtext === '' ||
        nftMaindDetails.tokenId
          .toLowerCase()
          .includes(searchtext.toLowerCase()) ||
        nftMaindDetails.mintId.toLowerCase().includes(searchtext.toLowerCase())">
      <div class="d-flex flex-column mt-3 ml-2">
        <div class="ml-2 d-flex row">
          <div class="font-weight-bold Nftright flex-column">NFT Name</div>
          <div>:</div>
          <div class="ml-2 nftleft">
            {{ nftMaindDetails?.nftName }}
          </div>
        </div>
        <div class="ml-2 d-flex row">
          <div class="font-weight-bold Nftright flex-column">Creator</div>
          <div>:</div>
          <div class="nftleft">
            <select class="border-0 flex-column">
              <option>-------------select creator--------------------</option>
              <option *ngFor="let detail of nftMaindDetails?.creators">
                {{ detail?.address }}
              </option>
            </select>
          </div>
        </div>
        <div class="ml-2 d-flex row">
          <div class="font-weight-bold Nftright flex-column">Token Id</div>
          <div>:</div>
          <div class="d-flex nftleft">
            <div class="ml-2" ngxCopyPaste #cp="copy">
              {{ nftMaindDetails?.tokenId }}
            </div>
            <div class="material-icons copy" (click)="cp.copy()">
              content_copy
            </div>
          </div>
        </div>
        <div class="ml-2 d-flex row">
          <div class="font-weight-bold Nftright flex-column">Mint Id</div>
          <div>:</div>
          <div class="d-flex nftleft">
            <div class="ml-2" ngxCopyPaste #cp1="copy">
              {{ nftMaindDetails?.mintId }}
            </div>
            <div class="material-icons copy" (click)="cp1.copy()">
              content_copy
            </div>
          </div>
        </div>
        <div class="ml-2 row">
          <div class="d-flex font-weight-bold Nftright flex-column">Total</div>
          <div>:</div>
          <div class="ml-2">
            {{ nftMaindDetails?.totalSupply }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <mat-tab-group class="remove-border-bottom mt-5 tab">
    <mat-tab label="Attributes" class="label"
      ><div class="metadata table-responsive">
        <table
          mat-table
          [dataSource]="attributes"
          id="attribute"
          class="col-sm-12">
          <ng-container matColumnDef="traittype" class="table-info">
            <th mat-header-cell *matHeaderCellDef class="thead">Trait Type</th>
            <td mat-cell *matCellDef="let element">
              {{ element.trait_type }}
            </td>
          </ng-container>

          <ng-container matColumnDef="value" class="table-info">
            <th mat-header-cell *matHeaderCellDef class="thead">Value</th>
            <td mat-cell *matCellDef="let element">
              {{ element.value }}
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
    </mat-tab>
    <mat-tab label="Metadata" class="label">
      <div class="overflow-auto metadata">
        <div class="metamain smalldevice">
          <i class="fa-solid fa-caret-down"></i><br />
          <span class=""> "root": {{ "{" }} <small>9 items </small></span>
          <ul>
            <li class="">
              "Key":<small>int</small> {{ metadata?.key | json }}
            </li>
            <li class="">
              "updateAuthority":<small>string</small
              ><span class="red">{{ metadata?.updateAuthority | json }}</span>
            </li>
            <ul>
              <li>
                "mint":<small>string </small
                ><span class="red"> {{ metadata?.mint | json }}</span>
              </li>
              "data":{{
                "{"
              }}
            </ul>
            <i class="fa-solid fa-caret-down"></i
            ><br />
            <li>
              "name":<small>string </small
              ><span class="red">{{ metadata?.data?.name | json }}</span>
            </li>
            <ul>
              <li>
                "symbol":<small>string</small
                ><span class="red">{{ metadata?.data?.symbol | json }}</span>
              </li>
              <li>
                "uri":<small>string</small
                ><span class="blue"> {{ metadata?.data?.uri | json }}</span>
              </li>
              <li>
                "sellerFeeBasisPoints":<small>int </small
                >{{ metadata?.data?.seller_fee_basis_points }}
              </li>
              <br />
              <i class="fa-solid fa-caret-down"></i
              ><br />
              <span
                >"creator":[<small
                  >{{ nftMaindDetails?.creators.length }} items</small
                ></span
              >
              <ul *ngFor="let item of nftMaindDetails?.creators; let i = index">
                <li>
                  {{ i }}:{{ "{" }} <small>3 items </small><br />
                  "address":<small>string </small>
                  <span class="red">{{ item?.address | json }}</span>
                </li>
                <li>"verified":<small>int </small>{{ item.verified }}</li>
                <li>"share":<small>int </small>{{ item.share }}</li>
                }
              </ul>
            </ul>
          </ul>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
