<div class="d-flex justify-content-end font-weight-bold">
  <span
    class="material-icons border border-dark rounded-circle"
    mat-dialog-close
    >close</span>
</div>
<div class="d-sm-flex overflow-auto">
  <div class="col-sm-5">
    <img
      src="../../../assets/flowers-7246619_960_720.jpg"
      alt=""
      class="img-fluid mt-0"/>
  </div>
  <div class="col-sm-6">
    <div class="space">
      <div>Title : Planet</div>
      <div>Symbol : Nature</div>
    </div>
    <span class="colon">
      : Now is the winter of our discontent Made glorious summer by this sun of
      York; And all the clouds that lour'd upon our house In the deep bosom of
      the ocean buried. Now are our brows bound with victorious wreaths; Our
      bruised arms hung up for monuments;</span>
    <div class="d-flex mt-3">Properties:</div>
    <div class="table-responsive mt-3">
      <table class="table border w-100 ml-5">
        <thead>
          <tr class="th">
            <th>Trait_type</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Background</td>
            <td>Green</td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <td>Flower-1</td>
            <td>Yellow</td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <td>Flower-2</td>
            <td>Orange</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
